@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
}

#__next,
main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  .pixel-font {
    font-family: var(--font-pixelify);
  }

  .chat-message,
  .chat-input {
    font-family: var(--font-inter);
  }
}
